<html>
    <head>
        <title>Bhanuj's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bhanuj's Blog</a></h1>
        </div>

        <div>
            <p>pulished: 27.03.2020, 21:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus aliquid perspiciatis, minima soluta quis odit totam eligendi suscipit, numquam dolorum, cupiditate velit corporis voluptates vero dolorem. Voluptatum, quam cum.</p>
        </div>

        <div>
            <p>published: 27.03.2020, 21:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus aliquid perspiciatis, minima soluta quis odit totam eligendi suscipit, numquam dolorum, cupiditate velit corporis voluptates vero dolorem. Voluptatum, quam cum.</p>
        </div>
    </body>
</html>